/* color-variable-store */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@600&display=swap");
:root {
  --color-body: #f3f3f3;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --color-secondary: #ffcb03;
  --color-primary: #5ec576;
  --color-tertiary: #ff585f;
  --color-secondary-opacity: #ffcd0331;
  --color-secondary-darker: #ffbb00;
  --color-primary-opacity: #5ec5763a;
  --color-primary: #5ec576;
  --color-tertiary-opacity: #ff58602d;
  --color-tertiary: #ff585f;
}
/* color-variable-store */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  background-color: var(--color-body);
  position: relative;
}
/* sectionAnimation */
.section--hidden {
  opacity: 0;
  transform: translateY(2rem);
}
/* sectionAnimation */
.opacity {
  opacity: 0.2;
}

.img_lazy {
  filter: blur(9px);
}
/* section_1 */
/* nav_container */
header {
  width: 100%;
  height: 100%;
  /* border: 3px solid; */
}
nav {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  /* margin-bottom: 10px; */
  background-color: transparent;
}
/* nav_container */
/* logo */
.logo_image {
  /* border: 3px solid; */
  margin-left: 90px;
  margin-top: 10px;
  width: 80px;
  height: 80px;
  opacity: 0.6;
}
/* logo */

/* nav_items */
ul {
  position: relative;
  /* border: 5px solid; */
  display: flex;
  list-style: none;
  width: 400px;
  height: 80px;
  margin-right: 300px;
  margin-top: 17px;
  font-size: 16px;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: black;
}
.btn_open_account {
  position: absolute;
  border: none;
  /* border: 2px solid; */
  width: 175px;
  height: 46px;
  border-radius: 50px;
  background-color: #5ec576;
  right: 105px;
  top: 25px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: inherit;
  cursor: pointer;
}

.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  top: 0;
  height: 95px;
  z-index: 2;
}
/* nav_items */

/* center_page_container */

.center_page_container {
  display: flex;
  /* border: 5px solid; */
  width: 80%;
  height: 659px;
  margin-left: 140px;
  margin-top: 10px;
}
.cennter_page_slogan {
  /* border: 4px solid; */
  font-size: 1.7rem;
  line-height: 1.35;
  margin-top: 120px;
  width: 700px;
  height: 100px;
  font-weight: bolder;
  /* opacity: 0.7; */
  font-family: "Poppins", sans-serif;
}
.highlight {
  position: relative;
}
.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}
.slogan_p {
  /* border: 3px solid; */
  font-size: 23px;
  margin-top: 70px;
  font-weight: 400;
}
.learn_more {
  border: #f3f3f3;
  border-bottom: 1px solid #5ec576;
  font-size: 18px;
  color: #5ec576;
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
}
.learnmore {
  /* border: 1px solid; */
  width: 200px;
  height: 40px;
  margin-top: 10px;
}
.money_front {
  width: 450px;
  height: 350px;
  margin-top: 100px;
}
/* center_page_container */
/* section_1 */

/* top */
.button_above {
  /* border: 2px solid; */

  position: fixed;
  bottom: 0;
  right: 0;
  /* z-index: 5; */
}
.top_hidden {
  display: none;
}
.img_up {
  width: 30px;
  height: 30px;
}
/* section_2 .container */
.space {
  height: 170px;
  /* position: absolute; */
}
.space_down {
  height: 100px;
}
.deatil_info {
  /* position: absolute; */
  /* border: 3px solid; */
  width: 800px;
  height: 150px;
  margin-left: 300px;
  margin-top: 100px;
}
.features_heading {
  color: #5ec576;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 598;
}
.features_deatil {
  font-size: 38px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 5px;
}
.feacture_container_detail {
  /* border: 3px solid; */
  width: 970px;
  height: 100%;
  margin-left: 170px;
  margin-top: 80px;
}
.box {
  /* border: 2px solid; */
  width: 70rem;
  height: 345px;
  margin-top: 25px;
}
.com,
.grow,
.atm {
  display: flex;
  justify-content: space-between;
}
.com_image {
  width: 550px;
  height: 341px;
}
.svg_detail {
  position: relative;
  /* border: 3px solid; */
  width: 500px;
}
.image_svg {
  position: absolute;
  /* border: 3px solid; */
  margin-top: 30px;
  margin-left: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  background-color: var(--color-primary-opacity);
}
.svg {
  width: 30px;
  height: 30px;
  fill: var(--color-primary);
  padding: 10px;
}

.image_detail_heading {
  position: absolute;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 100px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.image_detail_deatil {
  position: absolute;
  /* border: 2px solid; */
  color: #666;
  margin-top: 150px;
  margin-left: 30px;
  width: 420px;
  height: 170px;
  font-size: 16px;
  line-height: 2;
  word-spacing: 10px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
/* section_3 .container */
#section_3 {
  background-color: #f3f3f3;
  position: relative;
  height: 100%;
  width: 100%;
}
.operation_slogan_heading {
  /* border: 3px solid; */
  margin-top: 140px;
  margin-left: 80px;
  width: 600px;
  text-align: center;
  color: #5ec576;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Golos Text", sans-serif;
}
.operation_slogan_explation {
  /* position: absolute; */
  /* border: 3px solid; */
  width: 770px;
  margin-left: 313px;
  margin-top: 20px;
  font-size: 40px;
  font-family: "Golos Text", sans-serif;
  font-weight: 100;
  opacity: 0.7;
  line-height: 1.2;
}

.button_container {
  display: flex;
  position: absolute;
  /* border: 4px solid; */
  width: 725px;
  height: 70px;
  margin-left: 350px;
  margin-top: 85px;
  padding: 10px;
  justify-content: space-between;
  z-index: 1;
}
.button_op {
  border: none;
  width: 220px;
  height: 50px;
  border-radius: 40px;
  font-size: 16px;
  margin-top: 8px;
  font-weight: 400;
  opacity: 0.9;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.num {
  font-size: 17px;
  font-weight: bolder;
}
.button_1 {
  background-color: var(--color-secondary);
}
.button_2 {
  background-color: var(--color-primary);
}
.button_3 {
  background-color: var(--color-tertiary);
}
.button_1:hover {
  background-color: rgb(255, 190, 3);
}
.button_2:hover {
  background-color: rgb(94, 187, 118);
}
.button_3:hover {
  background-color: rgb(255, 77, 95);
}

.above {
  transform: translateY(-15%);
}
.data_container {
  /* border: 5px solid; */
  position: relative;
  width: 950px;
  height: 300px;
  margin-left: 240px;
  margin-top: 130px;
  background-color: transparent;
  background-color: #ffffff;
}
.info_heading {
  position: absolute;
  /* border: 3px solid; */
  margin-top: 70px;
  width: 670px;
  margin-left: 150px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.info_detail {
  position: absolute;
  /* border: 3px solid; */
  width: 800px;
  height: 150px;
  margin-top: 110px;
  margin-left: 150px;
  font-size: 19px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 395;
}
.upload_img_icon_1 {
  /* border: 3px solid; */
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--color-secondary-opacity);
  margin-top: 62px;
  margin-left: 50px;
}
.svg1 {
  width: 30px;
  height: 30px;
  fill: var(--color-secondary-darker);
  padding: 22px;
}
.upload_img_icon_2 {
  /* border: 3px solid; */
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--color-primary-opacity);
  margin-top: 62px;
  margin-left: 50px;
}
.svg2 {
  width: 30px;
  height: 30px;
  fill: var(--color-primary);
  padding: 22px;
}
.upload_img_icon_3 {
  /* border: 3px solid; */
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--color-tertiary-opacity);
  margin-top: 62px;
  margin-left: 50px;
}
.svg3 {
  width: 30px;
  height: 30px;
  fill: var(--color-tertiary);
  padding: 22px;
}
.hidden {
  display: none;
}
.space_down_3 {
  height: 130px;
}
.space_top_3 {
  height: 130px;
}
/* section_3 .container */
/* section_4 .container */
#section_4 {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  position: relative;
}
.section_head {
  /* position: absolute; */
  /* margin-top: 100px; */
  /* top: 0; */
}
.section_4_heading {
  /* position: absolute; */
  /* border: 3px solid; */
  margin-top: 100px;
  width: 60%;
  margin-left: 250px;
  color: #5ec576;
  font-family: "Poppins", sans-serif;
}
.section_4_detail {
  /* border: 3px solid; */
  width: 60%;
  height: 100px;
  margin-left: 250px;
  font-size: 35px;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  color: #444444;
}
/* img{
  width: 800px;
  height: 400px;
} */
.slide_container {
  /* border: 5px solid; */
  max-width: 50rem;
  height: 25rem;
  margin: 0 auto;
  position: relative;
  margin-top: 7%;
  /* IN THE END */
  overflow: hidden;
}
.slide {
  position: absolute;
  /* border: 5px solid aqua; */
  top: 0;
  width: 100%;
  height: 25rem;

  display: flex;
  /* align-items: center; */
  /* justify-content: center; */

  /* THIS creates the animation! */
  transition: transform 1s;
}
.highlight1::before {
  content: "\201C";
  position: absolute;
  /* border: 3px solid; */
  width: 60px;
  height: 60px;
  font-size: 7rem;
  top: 0;
  color: var(--color-primary);
  z-index: -1;
}
.slide_heading {
  /* border: 3px solid; */
  width: 85%;
  height: 25px;
  margin-left: 60px;
  margin-top: 40px;
  font-size: 23px;
  color: #444444;
  /* font-family: "Poppins", sans-serif; */
}
.slide_detail {
  position: absolute;
  /* border: 3px solid; */
  width: 85%;
  height: 150px;
  margin-top: 85px;
  margin-left: 60px;
  font-size: 17px;
  color: #444444;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  opacity: 0.7;
}
.profile_img {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  bottom: 90px;
  left: 60px;
}
.profile_name {
  position: absolute;
  bottom: 122px;
  left: 140px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.profile_address {
  position: absolute;
  bottom: 98px;
  left: 140px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}
.slider__btn {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 60%;
  background-color: white;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}
.slider__btn--left {
  position: absolute;
  left: 250px;
  transform: translate(-50%, -50%);
}
.slider__btn--right {
  position: absolute;
  right: 250px;
  transform: translate(50%, -50%);
}
/* fix */
.section_4_down {
  height: 100px;
}
.section_4_up {
  height: 100px;
}
/* section_4 .container */
/* footer */
.space_top_4 {
  height: 100px;
}
.footer {
  height: 100%;
  width: 100%;
  background-color: #37383d;
}
.footer_heading {
  /* border: 3px solid; */
  width: 850px;
  height: 200px;
  margin-left: 23%;
  font-size: 42px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.footer_btn {
  border: 2px solid;
  margin-left: 35%;
  width: 350px;
  height: 60px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background-color: #5ec576;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.space_foot {
  height: 100px;
}
.footer_link_container {
  display: flex;
  /* border: 3px solid; */
  width: 55%;
  margin-left: 300px;
  justify-content: space-between;
}
.foot_link {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.foot_link:hover {
  color: #39b385;
}
.fot_img {
  width: 80px;
  height: 80px;
  margin-left: 46%;
  margin-top: 50px;
}
.copyWrite {
  margin-top: 30px;
  text-align: center;
}
.hr {
  border-top: 1px solid #37383d;
}
/* footer */
/* Log-in page model-window-close  */
.container {
  position: absolute;
  position: fixed;
  top: 0;
}
.hidden_log {
  display: none;
}
/* Log-in page model-window-close */
